* {
    margin: 0;
}
body {
    display: flex;
    background: url(imagenes/fondo-rio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#contenedorGeneral{
    /* border: solid rgb(68, 0, 255);  */
    display: flex;
    flex-direction: row;
    width: 600vw;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.buscador {
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buscador div:first-child{
    text-align: center;
 
}
#search{
    background-color: rgb(255, 255, 255);
    border: solid 0.2vh rgb(90, 90, 90);
    width: 18vw;
    height: 4vh;
    font-size: 3vh;
    border-radius: 0.5vh;
}
.searcher{
    background: none;
    font-size: 3vh;
    border: none;
    position: absolute;
    color: rgb(79, 79, 80);
}
#searcher:hover i{
    color: rgb(255, 255, 255);
}
main {
    border: solid 0.3vh  rgb(87, 87, 87);
    border-radius: 2vh;
    overflow: auto;
    width: 60vw;
    height: 71vh; 
    padding-top: 0vh;
} 
#main::-webkit-scrollbar {
    width: 1vh;
}
#main::-webkit-scrollbar-thumb {
    width: 1vh;
    background-color: rgba(12, 209, 12);
    border-radius: 1vh;
}
article {
    font-size: 3vh;
    border: 0.2vh solid rgb(12, 12, 12);
    width: 30vw;
    border-radius: 1vh;
    padding: 1vh;
    background: rgba(255, 255, 255, 0.3);
    margin: auto;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
article p{
    text-align: center;
    color: rgb(46, 45, 45);
}
#contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 74vw;
    height: 100vh;
    /* border: solid rgb(250, 2, 2);  */
}
input[type = radio] {
    width: 4.5vw;
    height: 4.5vh;
    vertical-align: middle;
}
.medallasfiltro{
    list-style: none;
    border: solid 0.2vh rgb(44, 44, 44); 
     width: 15vw;
     height: 33vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     border-radius: 1vh;
}
.medallasfiltro label {
    /* border: solid red;  */
    text-align: left;
    vertical-align: middle;
    height: 4.8vh;
    margin: 1vh;
}
.medallasfiltro p:first-child {
    /* border: solid red;  */
    text-align: center;
    color: rgb(31, 30, 30);
}
.menuClass {
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(45, 231, 12, 0.493);
    width: 26vw;
    height: 100vh;
    font-size: 3vh;
    color: rgb(66, 65, 65);
}
h1 {
    font-size: 6vh;
    border-width: thin;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.3vh;
    color: rgb(20, 207, 20);
    text-align: center;
}
.ordenador {
    border: solid 0.2vh rgb(57, 58, 58);
    border-radius: 1vh;
    background: rgba(0, 0, 0, 0);
    color: rgb(59, 59, 59);
    width: 8vw;
    height: 5vh;
    font-size: 3vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-family: 'Lato', sans-serif;
    margin-left: 50vw;
}
.option{
    font-size: 3vh;
}
.lema {
    text-align: center;
    font-size: 3vh;
    margin-top: 2vh;
    color: rgb(8, 128, 8);
}
#menu p:first-child{
    margin-top: 5vh;
    font-size: 3.5vh;
    text-align: center;
}
li{
    border: solid blue;
    font-size: 3vh;
}
.menuh2{
    border-bottom: 0.2vh solid rgb(94, 93, 93);
    font-size: 4vh;
    color: rgb(94, 91, 91);
}
.disciplinas, .paises {
    font-size: 3vh;
    width: 13vw;
    height: 6vh;
    margin-top: 2vh;
    border: solid 0.2vh rgb(37, 37, 37);
    border-radius: 1vh;
    font-family: 'Lato', sans-serif;
    background: rgb(0,0,0,0);
}
.ocultar{
    display: none;
}
.verMas, #verMenos{
    font-size: 5vh;
    border: solid 0.2vh rgb(82, 81, 81);
    border-radius: 5vh;
    width: 7vh;
    background: rgb(252, 248, 248);
    padding: 0vw;
    color: rgb(80, 80, 82);
}
.verMas:hover, #verMenos:hover{
    background: rgb(105, 233, 137);
    border: none;
}
img{
    width: 5em;
    height: auto;
    margin-bottom: 2vh;
}
#coincidencias{
    margin-top: 2.5vw;
    position: absolute;
    width: 40vh;
    max-height: 30vh;
    overflow: auto;
    background-color: rgba(250, 248, 248, 0.938);
}
#coincidencias::-webkit-scrollbar {
    width: 1vh;
}
#coincidencias::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.911);  
  }
#coincidencias::-webkit-scrollbar-thumb {
    width: 1vh;
    background-color: rgb(30, 135, 255);
    border-radius: 1vh;
}
#coincidencias p{
    /* border: solid red; */
    margin-bottom: 1vh;
    padding-left: 1vw;
    background-color:  rgba(255, 255, 255, 0.911);
}
.graficostyle{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.705);
    width: 100vw;
    height: 100vh;
}
.graficoclass{
    display: none;
}
.botongrafico{
    background: none;
    width: 4.5vw;
    height: 10vh;
    border: solid 0.3vh  rgb(57, 58, 58);
    font-size: 5vh;
    border-radius: 5vh;
    color: rgb(66, 66, 66);
}
#botongrafico:hover{
    color: rgb(226, 224, 224);
    width: 5.1vw;
    height: 11vh;
    font-size: 6vh;
}
.grafico{
    width: 50vw;
    height: 50vh;
}
#cerrargrafico{
    background: none;
    border: none;
    font-size: 7vh;
    color: rgba(235, 235, 210, 0.897);
    margin-left: 50vw;
}
#cerrargrafico:hover{
    color: rgba(182, 182, 175, 0.897);
    }
#myChart{
    /* border: solid red; */
    background-color: rgba(0, 0, 0, 0.788);
}
#botonMenu{
    display: none;
    color: rgb(116, 112, 112);
    background: none;
    border: none;
    height: 10vh;
    align-self: flex-start;
    position: absolute;
}
#botonMenu:hover i {
    color: beige;
}
#cerrarMenu{
    display: none;
}
header div{
    border-radius: 6vh;
    background-color: rgb(221, 218, 14);
    position: absolute;
    right: 8vw;
    width: 4vw;
    height: 4.4vh;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
input[type = checkbox]{
    display: none;
}
.switchlabel{
    border: none;
    border-radius: 5vh;
    transition: 0.5s;
    background-color: rgb(77, 76, 76);
    width: 1.8vw;
    height: 4vh;
    cursor: pointer;
}
.on{
    margin-left: 4.8vh;
}
.labelparent{
    background-color: rgb(77, 76, 76);
}
.switchcolor{
    background-color: rgb(221, 218, 14);
}
.fondonight{
    background: rgba(83, 83, 83, 0.774);
}
.colornight{
    color: rgb(11, 189, 11);
}
.menunight{
    background: rgba(33, 106, 148, 0.877) !important;
}
.textnight{
    color: rgb(233, 230, 230) !important;
}
.optionight{
    background-color: rgb(92, 88, 88);
}
.bordernight{
    border-color: rgba(26, 230, 77, 0.726);
    color: rgb(233, 230, 230);
}
@media (min-width: 320px) and (max-width: 700px) {
    #botonMenu{
        display: flex;
        cursor: pointer;
    }
    .menuClass{
        position: absolute;
        width: 80vw;
        background-color: rgb(49, 180, 26);
        transition: 0.5s;
    }
    .ocultarMenu{
        width: 0;
        overflow: hidden;
        }
    #cerrarMenu{
        display: flex;
        background: none;
        border: none;
        font-size: 5vh;
        color: rgba(99, 99, 99, 0.877);
        align-self: flex-end;
        position: absolute;
        top: 1vh;
    }
    #cerrarMenu:hover i {
        color: rgb(216, 216, 216);
    }
    #botongrafico{
        width: 18vw;
    }
    #botongrafico:hover{
        width: 18vw;
        height: 10vh;
    }
    #contenido {
       width: 100vw;
    }
    #disciplinas, #paises {
        width: 35vw;
    }
    #medallasfiltro{
         width: 50vw;
    }
    #search{
        width: 58vw;
    }
    .buscador {
        width: 80vw;
    }
    #ordenador {
       width: 30vw;
    }
    input[type = radio] {
        width: 7vw;
        height: 7vh;

    }
    #main {
        width: 80vw;
    } 
    article {
        width: 60vw;
    }
    #coincidencias{
        width: 34vh;
        margin-top: 9vw;
    }
    .grafico{
        width: 100vw;
    }
    #cerrargrafico{
        margin-left: 80vw;
    }
    header div{
        width: 11vw;
        height: 3.5vh;
        right: 2vw;
    }
    .switchlabel{
        width: 5vw;
        height: 3vh;
    }
    .on{
        margin-left: 3.5vh;
    }
}
@media (min-width: 700px) and (max-width: 1024px) {
    #botonMenu{
        display: flex;
        font-size: 2vh;
        cursor: pointer;
    }
    .menuClass{
        position: absolute;
        width: 80vw;
        background-color: rgb(49, 180, 26);
        transition: 0.5s;
    }
    .ocultarMenu{
        width: 0;
        overflow: hidden;
     }
    #cerrarMenu{
        display: flex;
        background: none;
        border: none;
        font-size: 5vh;
        color: rgba(99, 99, 99, 0.877);
        align-self: flex-end;
        position: absolute;
        top: 1vh;
    }
    #cerrarMenu:hover i {
        color: rgb(216, 216, 216);
    }
    #botongrafico{
        width: 15vw;
    }
    #botongrafico:hover{
        width: 15vw;
        height: 10vh;
    }
    #contenido {
       width: 100vw;
       height: 100vh;
    }
    #disciplinas, #paises {
        width: 35vw;
    }
    #medallasfiltro{
         width: 50vw;
    }
    #search{
        width: 58vw;
    }
    .buscador {
        width: 80vw
    }
    #ordenador {
       width: 30vw;
    }
    input[type = radio] {
        width: 7vw;
        height: 7vh;

    }
    #main {
        width: 80vw;
    } 
    article {
        width: 60vw;
    }
    #coincidencias{
        width: 45vh;
        margin-top: 7vw;
    }
    .grafico{
        width: 100vw;
    }
    #cerrargrafico{
        margin-left: 80vw;
    }
    header div{
        width: 11vw;
        right: 3vw;
    }
    .switchlabel{
        width: 5vw;
    }
}