* {
    margin: 0;
}
body {
    display: flex;
    background: url(imagenes/fondo-rio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#contenedorGeneral{
    /* border: solid rgb(68, 0, 255);  */
    display: flex;
    flex-direction: row;
    width: 600vw;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.campoVacio{
    font-size: 15px;
    color: rgba(221, 27, 27, 0.938);
    height: 20px;
}
.buscador {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.buscador div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60px;
    text-align: center;
}
.input-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
#search{
    background-color: rgb(255, 255, 255);
    border: solid 0.2vh rgb(90, 90, 90);
    width: 200px;
    height: 25px;
    font-size: 18px;
    border-radius: 10px;
    padding: 5px;
}
.searcher{
    left: 258px;
    background: none;
    font-size: 18px;
    border: none;
    position: absolute;
    color: rgb(79, 79, 80);
}
#searcher:hover i{
    color: rgb(255, 255, 255);
}
main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border: solid 0.3vh  rgb(87, 87, 87);
    border-radius: 2vh;
    overflow: auto;
    width: calc(100vw - 420px);
    height: 71vh; 
    /* padding-top: 0vh; */
} 
#main::-webkit-scrollbar {
    width: 1vh;
}
#main::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(12, 209, 12);
    border-radius: 2px;
}
.flip-card {
    background-color: transparent;
    margin-top: 25px;
    width: 340px;
    height: 350px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    border-radius: 15px;
    overflow: auto;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    background: rgba(255, 255, 255, 0.3);
  }
  .flip-card-front p:last-child{
      margin: 0 5px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .flip-card-back {
    background-color: #2e5d7cc7;
    color: white;
    transform: rotateY(180deg);
  }
  .flip-card-back  p {
      border-bottom: solid 1px rgb(156, 154, 154);
      padding: 15px 0;
      cursor: pointer;
  }
  .flip-card-back  p:hover {
    background-color: #2e5d7cef;
}
.flip-card-back  p:hover i,
.flip-card-back  p:hover span {
    color: #11e02def;
}
.flip-card-back p::first-letter{
    text-transform: uppercase;
}
#contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 300px);
    height: 100vh;
}
input[type = radio] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.medallasfiltro{
    list-style: none;
    border: solid 1px rgb(44, 44, 44); 
     width: 80%;
     height: 220px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
}
.medallasfiltro label {
     margin: 8px 0;
     width: 60%;
}
.medallasfiltro label:hover{
    color:rgb(238, 234, 234);
    letter-spacing: 2px;
}
.medallasfiltro p:first-child {
    text-align: center;
    margin: 10px 0;
    color: rgb(31, 30, 30);
}
.menuClass {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(45, 231, 12, 0.493);
    width: 300px;
    height: 100vh;
    font-size: 20px;
    color: rgb(66, 65, 65);
}
h1 {
    font-size: 38px;
    border-width: thin;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.3vh;
    color: rgb(20, 207, 20);
    text-align: center;
    transition: 0.5s;
}
h1:hover{
    /* position: absolute; */
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 5px;
    color: rgb(119, 99, 189);
}
.ordenador {
    border: solid 0.2vh rgb(57, 58, 58);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0);
    color: rgb(59, 59, 59);
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    margin: 10px 60px 10px 0;
    align-self: flex-end;
}
.option{
    font-size: 3vh;
}
.lema {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    font-size: 20px;
    margin-top: 2vh;
    color: rgb(8, 128, 8);
}
.lema:hover{
    color: rgb(12, 197, 12);
}
#menu p:first-child{
    margin-top: 5vh;
    font-size: 4vh;
    text-align: center;
}
li{
    border: solid blue;
    font-size: 3vh;
}
.menuh2{
    border-bottom: 1px solid rgb(94, 93, 93);
    font-size: 22px;
    margin: 30px 0 0 0;
    color: rgb(94, 91, 91);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}
.disciplinas, .paises {
    font-size: 18px;
    width: 60%;
    height: 38px;
    margin-top: 30px;
    border: solid 0.2vh rgb(37, 37, 37);
    border-radius: 1vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    background: rgb(0,0,0,0);
}
.disciplinas:hover, .paises:hover {
    width: 62%;
    height: 40px;
    border-color: rgb(238, 234, 234);
}
.ocultar{
    display: none;
}
img{
    width: 160px;
    height: 160px;
    margin-bottom: 2vh;
}
.imgmujer{
    width: 160px;
    height: 160px;
}
#coincidencias{
    top: 115px;
    position: absolute;
    width: 210px;
    max-height: 300px;
    overflow: auto;
    background-color: rgba(236, 231, 231, 0.938);
}
#coincidencias::-webkit-scrollbar, 
.flip-card-back::-webkit-scrollbar {
    width: 5px;
}
#coincidencias::-webkit-scrollbar-track{
    background-color: rgba(255, 255, 255, 0.911);  
  }
.flip-card-back::-webkit-scrollbar-track{
    background: none;  
  }
#coincidencias::-webkit-scrollbar-thumb,
.flip-card-back::-webkit-scrollbar-thumb {
    width: 1vh;
    background-color: rgb(30, 135, 255);
    border-radius: 1vh;
}
.flip-card-back::-webkit-scrollbar-thumb {
    background-color: rgb(88, 87, 87);
}
#coincidencias p{
    /* border: solid red; */
    font-size: 15px;
    margin-bottom: 3px;
    padding: 10px 0 10px 5px;
    background-color:rgba(255, 255, 255, 0.911);
}
.graficostyle{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.705);
    width: 100vw;
    height: 100vh;
}
.graficoclass{
    display: none;
}
.botongrafico{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background: none;
    width: 60px;
    height: 60px;
    border: solid 2px rgb(57, 58, 58);
    font-size: 30px;
    border-radius: 30px;
    color: rgb(66, 66, 66);
}
#botongrafico:hover{
    color: rgb(226, 224, 224);
    border-radius: 32px;
    width: 65px;
    height: 65px;
    font-size: 33px;
}
.grafico{
    width: 50vw;
    height: 50vh;
}
#cerrargrafico{
    background: none;
    border: none;
    font-size: 7vh;
    color: rgba(235, 235, 210, 0.897);
    margin-left: 50vw;
}
#cerrargrafico:hover{
    color: rgba(182, 182, 175, 0.897);
    }
#myChart{
    /* border: solid red; */
    background-color: rgba(0, 0, 0, 0.788);
}
#botonMenu{
    font-size: 10px;
    margin: 10px;
    display: none;
    color: rgb(116, 112, 112);
    background: none;
    border: none;
    align-self: flex-start;
    position: absolute;
}
#botonMenu:hover i {
    color: beige;
}
#cerrarMenu{
    display: none;
}
header div{
    border-radius: 14px;
    background-color: rgb(221, 218, 14);
    position: absolute;
    right: 100px;
    width: 45px;
    height: 25px;
    padding: 2px 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
input[type = checkbox]{
    display: none;
}
.switchlabel{
    border: none;
    border-radius: 12px;
    transition: 0.5s;
    background-color: rgb(77, 76, 76);
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.switchlabel:hover{
    background-color: rgb(141, 141, 141);
}
.on{
    margin-left: 20px;
}
.labelparent{
    background-color: rgb(77, 76, 76);
}
.switchcolor{
    background-color: rgb(221, 218, 14);
}
.fondonight{
    background: rgba(83, 83, 83, 0.774);
}
.colornight{
    color: rgb(11, 189, 11);
}
.menunight{
    background: rgba(11, 64, 95, 0.75) !important;
}
.textnight{
    color: rgb(233, 230, 230) !important;
}
.optionight{
    background-color: rgb(92, 88, 88);
}
.bordernight{
    border-color: rgba(24, 199, 68, 0.726);
    color: rgb(233, 230, 230);
}
@media (min-width: 300px) and (max-width: 1024px) {
    #botonMenu{
        display: flex;
        cursor: pointer;
    }
    .menuClass{
        overflow: hidden;
        position: absolute;
        width: 0;
        background-color: rgb(98, 202, 21);
        transition: 0.5s;
        z-index: 1;
    }
    .flex{
        overflow: auto;
        width: 220px;
    }
    .menuh2{
        font-size: 18px;
    }
    .graficostyle{
        z-index: 2;
    }
    h1{
        font-size: 28px;
    }
    h1:hover{
        font-size: 23px;
        letter-spacing: 4px;
    }
    .lema{
        font-size: 17px;
    }
    .imgmujer, img {
        width: 140px;
        height: 140px;
    }
    .flip-card {
        width: 280px;
        height: 300px;
    }
    .flip-card  p{
        font-size: 2.3vh;
    }
    #cerrarMenu{
        display: flex;
        background: none;
        border: none;
        font-size: 20px;
        color: rgba(99, 99, 99, 0.877);
        align-self: flex-end;
        position: absolute;
        top: 8px;
    }
    #cerrarMenu:hover i {
        color: rgb(216, 216, 216);
    }
    #botongrafico{
        font-size: 25px;
        width: 60px;
        height: 60px;
    }
    #botongrafico:hover{
        width: 18vw;
        height: 10vh;
    }
    #contenido {
       width: 100vw;
    }
    #disciplinas, #paises {
        width: 70%;
        height: 36px;
        font-size: 15px;
    }
    #medallasfiltro{
         width: 90%;
         height: 190px;
    }
    .medallasfiltro p:first-child {
        font-size: 16px;
    }
    .medallasfiltro label {
        font-size: 15px;
        margin: 8px 0;
        width: 75%;
    }
    input[type = radio] {
        margin: 0 2px;
        width: 18px;
        height: 18px;
    }
    #search{
        width: 75%;
        height: 20px;
    }
    .buscador {
        width: 80vw;
    }
    #ordenador {
        height: 25px;
        width: 90px;
        margin-right: 20px;
        font-size: 15px;
    }
    #main {
        width: 98%;
        height: calc(100vh - 150px);
    } 
    #coincidencias{
        width: 180px;
        top: 108px;
    }
    .grafico{
        width: 100vw;
        height: auto;
    }
    #cerrargrafico{
        align-self: flex-end;
        font-size: 26px;
    }
    header div{
        right: 20px;
        width: 38px;
        height: 15px;
        padding: 3px 2px;
    }
    .on{
    margin-left: 22px;
    }
    .switchlabel{
        width: 15px;
        height: 15px;
    }
    .menunight{
        background: rgb(11, 64, 95) !important;
    }
}